<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet" />
<!-- Links -->
<section class="links">
    <div class="links-inner">
        <ul>
            <li>
                <h3 style="color:#ff5e14;"><i class="fa fa-info-circle" aria-hidden="true"></i> Links</h3>
            </li>
            <li><a href="/home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
            <li><a href="/shop"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Shop</a></li>



        </ul>
    </div>
</section>

<!-- Footer
<footer class="footer">
    <div class="footer-inner">
        
        <ul>
            <li><p> <i class="fa fa-phone-square" aria-hidden="true"></i> Call Us On:  <strong>+27 ** *** ** **</strong> </p></li>
            <li><p><i class="fa fa-map-marker" aria-hidden="true"></i> Vist our shop at: <strong style="color: #09052e;">Shop 9B, Street,</strong> <strong> 110 Clarendon, Bordeaux, JHB, 2194, South Africa.</strong></p></li>
            <li><p><i class="fa fa-envelope" aria-hidden="true"></i> Email us at: <strong>info@laundry.com</strong></p></li>
            <li><p><i class="fa fa-copyright" aria-hidden="true"></i> <strong>Laundry Mart 2021</strong></p></li>
            <li>
                <p><i class="fa fa-code" aria-hidden="true"></i> Designed and Created By SputnikTech</p>
            </li>
           
        </ul>
    </div>


</footer> -->




<footer>
    <div class="takunda" class="container py-5">
        <div class="row py-3">
            <!---->

            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <h5 style="color:#ff5e14;" class="text-uppercase font-weight-bold mb-4">Secure PayFast payment</h5>
                <img width="180" alt="logo" [routerLink]="['/']" class="logo" src="/assets/images/payfast.png" />
            </div>



            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h5 style="color:#ff5e14;" class="text-uppercase font-weight-bold mb-4">Contact Us</h5>
                <ul class="list-unstyled mb-0">
                    <!--
                    <li>
                        <p> <i class="fa fa-phone-square" aria-hidden="true"></i><strong> +27 ** *** ** **</strong> </p>
                    </li>-->

                    <li>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i><strong> info@swiftgas.co.za</strong></p>
                        <p><strong> orders@swiftgas.co.za</strong></p>
                    </li>

                </ul>
            </div>


            <!--
             <div class="col-lg-4 col-md-6 mb-lg-0">
                 <h5 class="text-uppercase font-weight-bold mb-4">Registered Bussiness Address</h5>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i>  Vist our shop at: <strong style="color: #09052e;">Shop 9B,
                        Street,</strong> <strong> 110 Clarendon, Bordeaux, JHB, 2194, South Africa.</strong></p>
                        <ul class="list-unstyled mb-3">
                            <li>
                                <p> <i class="fa fa-phone-square" aria-hidden="true"></i><strong>+27 ** *** ** **</strong> </p>
                            </li>
                        
                            <li>
                                <p><i class="fa fa-envelope" aria-hidden="true"></i><strong>info@laundry.com</strong></p>
                            </li>
                        
                        </ul>
                        
                 
             </div>

            <div class="col-lg-4 col-md-6 mb-lg-0">
                <h5 class="text-uppercase font-weight-bold mb-4">Pretoria Branch Info</h5>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Vist our shop at: <strong style="color: #09052e;">Shop 9B,
                        Street,</strong> <strong> 110 Clarendon, Bordeaux, JHB, 2194, South Africa.</strong></p>
            <ul class="list-unstyled mb-3">
                <li>
                    <p> <i class="fa fa-phone-square" aria-hidden="true"></i><strong>+27 ** *** ** **</strong> </p>
                </li>
            
                <li>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i><strong>info@laundry.com</strong></p>
                </li>
            
            </ul>
            
                
            </div> -->

            <div class="col-lg-4 col-md-6 mb-lg-0">
                <h5 style="color:#ff5e14;" class="text-uppercase font-weight-bold mb-4">Registered Bussiness Address</h5>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><strong> 72 10th Road
                        Kew Johannesburg, South Africa.</strong></p>
                <!-- <ul class="list-unstyled mb-0">
                <li>
                    <p> <i class="fa fa-phone-square" aria-hidden="true"></i><strong>+27 ** *** ** **</strong> </p>
                </li>
            
                <li>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i><strong>info@laundry.com</strong></p>
                </li>
            
            </ul> -->

                <!-- <ul style="color: #09052e;" class="list-inline mt-4">
                    <li style="color: #09052e;" class="list-inline-item"><a  href="#" target="_blank" title="twitter"><i
                                class="fab fa-2x fa-twitter text-#09052e"></i></a></li>
                    <li class="list-inline-item"><a  href="#" target="_blank" title="facebook"><i
                                class="fab fa-2x fa-facebook-f text-#09052e"></i></a></li>
                    <li class="list-inline-item"><a  href="#" target="_blank" title="instagram"><i
                                class="fab fa-2x fa-instagram text-#09052e"></i></a></li>
                    <li class="list-inline-item"><a  href="#" target="_blank" title="pinterest"><i
                                class="fab fa-2x fa-youtube text-#09052e"></i></a></li>
                    <li class="list-inline-item"><a  href="#" target="_blank" title="vimeo"><i class="fab fa-2x fa-google text-#09052e"></i></a>
                    </li>
                </ul> -->
            </div>
        </div>
    </div>
    <hr class="p-0 m-0 b-0">
    <div class="taku py-2">
        <div class="container text-center">
            <p class="text-#09052e mb-0 py-2"><i class="fa fa-code" aria-hidden="true"></i> Designed and Created By
                Savvy Digital Sa</p>
            <p class="text-#09052e mb-0 py-2">© Swift Gas, All rights reserved.</p>

        </div>
    </div>
</footer>