

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
  rel="stylesheet"
/>

<!-- Carousel Starts -->
 
<section class="blur">
  <carousel>
    <slide>
      <img
        src="assets/images/flame.jpg"
        alt="first slide"
        style="display: block; width: 100%; "
      />
      <div
        class="carousel-caption d-flex flex-column align-items-center justify-content-center"
      >
        <div class="p-3" style="max-width: 900px">
          <h4 style="color:#ff5e14;" class="text-white; text-uppercase mb-md-3">
            Your partner in anything and everything gas
          </h4>
          <h1 class="display-3 text-#ff5e14; mb-md-4">
            Swift Gas
          </h1>
         
        </div>
      </div>
    </slide>
    <slide>
      <img
        src="assets/images/flame2.jpg"
        alt="first slide"
        style="display: block; width: 100%"
      />
      <div
        class="carousel-caption d-flex flex-column align-items-center justify-content-center"
      >
        <div class="p-3" style="max-width: 900px; color:#89b7b8;">
          <h4 style="color:#ff5e14;" class="text-white; text-uppercase mb-md-3">
            Swift Gas has been a distributor of L.P 
Gas since 2014
          </h4>
          <h1 class="display-3 text-#ff5e14; mb-md-4">
            Best Gas Products
          </h1>
          
        
          
        </div>
      </div>
    </slide>
  </carousel>
</section>

<!-- Carousel End -->

<!-- Contact Info Start -->
<div class="container-fluid contact-info  mt-5 mb-4">
  <div class="container" style="padding: 0 30px">
    <div class="row">



      <div
        class="col-md-4 d-flex align-items-center justify-content-center bg-secondary mb-4 mb-lg-0"
        style="height: 100px"
      >
        <div class="d-inline-flex">
          <i class="fa fa-2x fa-map-marker text-#09052e m-0 mr-3"></i>
          <div class="d-flex flex-column">
            <h5 style="color:#ff5e14;" class="text-#09052e font-weight-medium">Address</h5>
            <p class="m-0 text-#09052e">72, 10th Road
            Kew, Johannesburg</p>
          </div>
        </div>
      </div>
     
    
      <div
        class="col-md-4 d-flex align-items-center justify-content-center bg-primary mb-4 mb-lg-0"
        style="height: 100px;color: #09052e;"
      >
        <div class="d-inline-flex text-left">
          <i class="fa fa-2x fa-envelope text-#09052e m-0 mr-3"></i>
          <div class="d-flex flex-column">
            <h5 style="color:#ff5e14;" class="text-#09052e font-weight-medium">Email Us</h5>
            <p class="m-0 text-#09052e">info@swiftgas.co.za</p>
            <p class="m-0 text-#09052e">orders@swiftgas.co.za</p>
          </div>
        </div>
      </div>
      <!--
      <div
        class="col-md-4 d-flex align-items-center justify-content-center bg-secondary mb-4 mb-lg-0"
        style="height: 100px"
      >
        <div class="d-inline-flex text-left">
          <i class="fa fa-2x fa-phone text-#09052e m-0 mr-3"></i>
          <div class="d-flex flex-column">
            <h5  style="color: #ff5e14;" class="text-#09052e font-weight-medium">Call Us</h5>
            <p style="color: #09052e;" class="m-0 text-#09052e">+27 ## ### ## ##</p>
          </div>
        </div>
      </div>
-->

      <div class="col-md-4 d-flex align-items-center justify-content-center bg-secondary mb-4 mb-lg-0" style="height: 100px">
        <div class="d-inline-flex text-left">
          <div class="d-flex flex-column">
            <a href="/shop" class="btn btn-primary py-md-3 px-md-5 mt-2" style="border-radius: 30px; color:white; background:#ff5e14;">Go to shop</a>
          </div>
        </div>
      </div>
     
    </div>
  </div>
</div>
<!-- Contact Info End -->

<!-- About Start -->
<div
style="
      background:white;
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      color: #09052e;
    "

class="container-fluid py-5">
  <div
    
    class="container pt-0 pt-lg-4"
  >
    <div class="row align-items-center">
      <div class="col-lg-5">
        
        <!-- Carousel Starts -->
        
        <carousel>
          <slide>
            <img src="assets/images/wassa1.jpeg" alt="first slide" style="display: block; width: 100%; " />
          </slide>
          <slide>
            <img src="assets/images/swift.png" alt="first slide" style="display: block; width: 100%" />
          </slide>
          <slide>
            <img src="assets/images/wassa2.jpeg" alt="first slide" style="display: block; width: 100%; " />
          </slide>
          <slide>
            <img src="assets/images/stove.jpg" alt="first slide" style="display: block; width: 100%" />
          </slide>
          <slide>
            <img src="assets/images/pic3.jpg" alt="first slide" style="display: block; width: 100%; " />
          </slide>
          <slide>
            <img src="assets/images/pic4.jpg" alt="first slide" style="display: block; width: 100%" />
          </slide>
          <slide>
            <img src="assets/images/delivery.jpeg" alt="first slide" style="display: block; width: 100%; " />
          </slide>
          
        </carousel>
        
        <!-- Carousel End -->
      </div>
      <div class="glass" class="col-lg-7 mt-5 mt-lg-0 pl-lg-5">
        <h2 style="color: #ff5e14;" class="text-#ff5e14 text-uppercase font-weight-medium mb-3">
          Learn About Us
        </h2>
        <h1 style="color: #ff5e14;" class="mb-4">ILLUMINATE YOUR WORLD</h1>
        <!--<h3 class="font-weight-medium  mb-4">
          Clita sit et ipsum sed. Volup duo sea dolor rebum ea rebum kasd stet.
          Dolor at duo dolor sit stet.
        </h3> -->
        <p class="text-secondary mb-2" style="color: #09052e; text-align:justify;"> 
         Do you need some work done that involves LP Gas? Then look no further. Swift Gas is your partner in anything and everything gas. We will assist you with all your LP gas sales installations, maintenance, and repairs for any kind of setting. This covers residential areas (including houses, flats, complexes, hostels, etc.); as well as commercial establishments (such as hotels, restaurants, shops, bakeries, etc.
        </p>
        <p class="text-secondary mb-2" style="color: #09052e; text-align:justify;"> 
        <strong >We are your trusted provider of all your Gas products:</strong>  
        </p>

        <p class="text-secondary mb-2" style="color: #09052e; text-align:justify;">
         <strong style="color: #ff5e14;">•Door-to-door</strong>  deliveries with our own delivery trucks.
        </p>
<p class="text-secondary mb-2" style="color: #09052e; text-align:justify;"> 
<strong style="color: #ff5e14;">•Convenience</strong>   of ordering online or using our app.
</p>
<p class="text-secondary text-bold mb-2" style="color: #09052e; text-align:justify;"> 
 <strong style="color: #ff5e14;">•Retail outlets</strong>  near you(Centurion, Midrand, Menlyn, Sunninghill, Randburg, Morningside, Cresta, Northgate, Sandton,
  Pretoria West.).
</p>

<p class="text-secondary mb-2" style="color: #09052e; text-align:justify;">
 <strong style="color: #ff5e14;">•Same day</strong>  delivery.
</p>
<p class="text-secondary mb-2" style="color: #09052e; text-align:justify;">
  This is "gas at your fingertips." So order today via our website, WhatsApp, iOS or Android app, email or simply make a
  call. We are available for you 24/7.
</p>




        <h2 style="color: #ff5e14;" class="text-#ff5e14 text-uppercase font-weight-medium mb-3">
          Our Mission
        </h2>
        <!--<h1 class="mb-4">We Are Quality Gas Provider In Your City</!--<h1>
        <h3 class="font-weight-medium  mb-4">
                  Clita sit et ipsum sed. Volup duo sea dolor rebum ea rebum kasd stet.
                  Dolor at duo dolor sit stet.
                </h3> -->
        <p class="text-secondary mb-2" style="color: #09052e; text-align:justify;"> Our mission is to save our clientele on fuel costs through distributing to them LP gas
        and gas products fast at cheap prices. Our innovative solution is designed to save you
        time and money on the much-needed gas product for your home or organization. We are here for your convenience; when you call, we come all
        the way to your doorstep – fast!
        
        </p>

        <h2  style="color: #ff5e14;" class="text-#ff5e14 text-uppercase font-weight-medium mb-3">
          Our Vision
        </h2>
        <!--<h1 class="mb-4">We Are Quality Gas Provider In Your City</!--<h1>
                <h3 class="font-weight-medium  mb-4">
                          Clita sit et ipsum sed. Volup duo sea dolor rebum ea rebum kasd stet.
                          Dolor at duo dolor sit stet.
                        </h3> -->
        <p class="text-secondary mb-2" style="color: #09052e; text-align:justify;"> To be the leading distributor of choice for gas products in Southern Africa.
        </p>
        
        <div class="row">
          <div class="col-sm-6 pt-3">
            <div class="d-flex align-items-center">
              <i style="color: #ff5e14;" class="fa fa-check text-#ff5e14 mr-2"></i>
              <h4 class="text-secondary font-weight-medium m-0">
                Quality Gas Service
              </h4>
            </div>
          </div>
          <div class="col-sm-6 pt-3">
            <div class="d-flex align-items-center">
              <i  style="color: #ff5e14;"  class="fa fa-check text-#ff5e14 mr-2"></i>
              <h4 class="text-secondary font-weight-medium m-0">
                Express Fast Delivery
              </h4>
            </div>
          </div>
          <div class="col-sm-6 pt-3">
            <div class="d-flex align-items-center">
              <i  style="color: #ff5e14;"  class="fa fa-check text-#ff5e14 mr-2"></i>
              <h4 class="text-secondary font-weight-medium m-0">
                Highly Professional Staff
              </h4>
            </div>
          </div>
          <div class="col-sm-6 pt-3">
            <div class="d-flex align-items-center">
              <i  style="color: #ff5e14;"  class="fa fa-check text-#ff5e14 mr-2"></i>
              <h4 class="text-secondary font-weight-medium m-0">
                100% Satisfaction Guarantee
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Services Start -->
<div
  style="
    background:white;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #09052e;
  "
  class="container-fluid pt-5 pb-3"
>
  <div class="container">
    <h2 style="color: #ff5e14;"
      class="text-#ff5e14 text-uppercase text-center font-weight-medium mb-3"
    >
      Our Services
    </h2>
    <h1 style="color: #ff5e14;" class="display-4 text-center mb-5">What We Offer</h1>
    <div class="row">
      <div
      
      
      class="col-lg-3 col-md-6 pb-1">
        <div
          class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4"
          style="height: 300px"
        >
          <div
          

            class="d-inline-flex align-items-center justify-content-center bg-#09052e shadow rounded-circle mb-4"
            style="width: 100px; height: 100px"
          >
            <i style="color: #ff5e14;" class="fa fa-3x fa-burn text-#ff5e14"></i>
          </div>
          <h4 style="color: #09052e;" class="font-weight-bold m-0">We are a distributor of Wasaa LP Gas cylinders</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pb-1">
        <div
          class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4"
          style="height: 300px"
        >
          <div
            class="d-inline-flex align-items-center justify-content-center bg-#09052e shadow rounded-circle mb-4"
            style="width: 100px; height: 100px"
          >
            <i style="color: #ff5e14;" class="fas fa-3x fa-store-alt"></i>
          </div>
          <h4 style="color: #09052e;" class="font-weight-bold m-0">We design and install LP Gas retail shops</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pb-1">
        <div
          class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4"
          style="height: 300px"
        >
          <div
            class="d-inline-flex align-items-center justify-content-center bg-#09052e shadow rounded-circle mb-4"
            style="width: 100px; height: 100px"
          >
            <i style="color: #ff5e14;" class="fas fa-3x fa-clock"></i>
          </div>
          <h4 style="color: #09052e;" class="font-weight-bold m-0">Our 24/7 service means that we are ready to serve you at any time.</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pb-1">
        <div
          class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4"
          style="height: 300px"
        >
          <div
            class="d-inline-flex align-items-center justify-content-center bg-#09052e shadow rounded-circle mb-4"
            style="width: 100px; height: 100px"
          >
            <i style="color: #ff5e14;" class="fas fa-3x fa-tools"></i>
          </div>
          <h4 style="color: #09052e;" class="font-weight-bold m-0">We provide Maintenance support for all gas products.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Services End -->
<!-- Features Start -->
<div
  style="
   background:white;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #09052e;
  "
  class="container-fluid py-5"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-7 m-0 my-lg-5 pt-0 pt-lg-5 pr-lg-5">
        <h2 style="color: #ff5e14;" class="text-#ff5e14 text-uppercase font-weight-medium mb-3">
          OUR ESTEEMED HISTORY
        </h2>
        
        <p style="color: #09052e; text-align:justify;">
          Since 2014, Swift Gas has been distributing
          LP Gas since 2014, and delivering gas cylinders to both the private and the commercial
          sector. From the start, we have been distributing bulk LP Gas with full support and
          backup from our producing companies. Now
          we have our own delivery trucks and also
          supply, install and maintain bulk storage
          facilities. We stock a large selection of world
          renowned gas products, including stoves,
          fireplaces, heaters, braais and water heaters.
          Our technical staff are registered with the LP
          Gas Safety Association as
          well as the South African Gas Association
          (SAGA). Our staff are qualified and licensed
          gas technicians for domestic, commercial
          and industrial gas installations. This means
          you are guaranteed to get the quality results
          you need, whether its installation, servicing,
          or maintenance of all major brands of LP Gas
          appliances. We also feature a “full- for-empty” LP Gas exchange system for brands such
          as Easigas, Afrox, Oryx, total, and Wassa. We
          also do refills for Cadac for 3kg, 5kg, 7kg, and
          9kg.
        </p>

       


        <div class="row">
          <div class="col-sm-6 mb-4">
            <h1 class="text-#ff5e14" data-toggle="counter-up">6</h1>
            <h4 class="font-weight-bold">Years Expereince</h4>
          </div>
          <div class="col-sm-6 mb-4">
            <h1 class="text-#ff5e14" data-toggle="counter-up">100+</h1>
            <h4 class="font-weight-bold">Expert Worker</h4>
          </div>
          <div class="col-sm-6 mb-4">
            <h1 class="text-#ff5e14" data-toggle="counter-up">1000+</h1>
            <h4 class="font-weight-bold">Happy Clients</h4>
          </div>
          <div class="col-sm-6 mb-4">
            <h1 class="text-#ff5e14" data-toggle="counter-up">1000+</h1>
            <h4 class="font-weight-bold">LP gas sales installations</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div
          class="d-flex flex-column align-items-center justify-content-center bg-secondary h-100 py-5 px-3"
        >
          <i style="color: #ff5e14;" class="fa fa-5x fa-certificate text-#ff5e14 mb-5"></i>
          <h1 style="color: #ff5e14;" class="display-1 text-#ff5e14 mb-3">6+</h1>
          <h1 style="color: #ff5e14;" class="text-secondary m-0">Years Experience</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Features End -->

<!-- Working Process Start 
<div
  style="
    background: rgba( 80, 75, 75, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #09052e;
  "
  class="container-fluid pt-5"
>
  <div class="container">
    <h2
      class="text-secondary text-uppercase text-center font-weight-medium mb-3"
    >
      Working Process
    </h2>
    <h1 class="display-4 text-center mb-5">How We Work</h1>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div
          class="d-flex flex-column align-items-center justify-content-center text-center mb-5"
        >
          <div
            class="d-inline-flex align-items-center justify-content-center bg-#09052e border border-light shadow rounded-circle mb-4"
            style="width: 150px; height: 150px; border-width: 15px !important"
          >
            <h2 class="display-2 text-secondary m-0">1</h2>
          </div>
          <h3 class="font-weight-bold m-0 mt-2">Order Place</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div
          class="d-flex flex-column align-items-center justify-content-center text-center mb-5"
        >
          <div
            class="d-inline-flex align-items-center justify-content-center bg-#09052e border border-light shadow rounded-circle mb-4"
            style="width: 150px; height: 150px; border-width: 15px !important"
          >
            <h2 class="display-2 text-secondary m-0">2</h2>
          </div>
          <h3 class="font-weight-bold m-0 mt-2">Free Pick Up</h3>
        </div>
      </div>
      <div 
      style="border-radius: 10px;"
      class="col-lg-3 col-md-6">
        <div style="border-radius: 10px;"
          class="d-flex flex-column align-items-center justify-content-center text-center mb-5"
        >
          <div style="border-radius: 10px;"
            class="d-inline-flex align-items-center justify-content-center bg-#09052e border border-light shadow rounded-circle mb-4"
            style="width: 150px; height: 150px; border-width: 15px !important"
          >
            <h2 class="display-2 text-secondary m-0">3</h2>
          </div>
          <h3 class="font-weight-bold m-0 mt-2">Dry Cleaning</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div
          class="d-flex flex-column align-items-center justify-content-center text-center mb-5"
        >
          <div
            class="d-inline-flex align-items-center justify-content-center bg-#09052e border border-light shadow rounded-circle mb-4"
            style="width: 150px; height: 150px; border-width: 15px !important"
          >
            <h2 class="display-2 text-secondary m-0">4</h2>
          </div>
          <h3 class="font-weight-bold m-0 mt-2">Free Delivery</h3>
        </div>
      </div>
    </div>
  </div>
</div>-->
<!-- Working Process End -->

<!-- Pricing Plan Start -->
<div
  style="
    background:white;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #09052e;
  "
  class="container-fluid pt-5 pb-3"
>
  <div class="container">
    <h2 syle="color:#ff5e14;"
      class="text-#ff5e14 text-uppercase text-center font-weight-medium mb-3"
    >
      Our Product Line
    </h2>
    <h2 class="display-4 text-center mb-5" style="color: #ff5e14; text-align:justify;">OUR DIVERSE PRODUCTS INCLUDE</h2>
    <div class="row">
      
      <div class="col-lg-4 mb-4">
        <div 
        style="
   background:white;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #09052e;
  "
        class="bg-light text-center mb-2 pt-4">
          <div
            class="d-inline-flex flex-column align-items-center justify-content-center bg-primary rounded-circle shadow mt-2 mb-4"
            style="width: 200px; height: 200px; border: 15px solid #09052e"
          >
            <h3 class="text-#09052e">Commercial</h3>
            
          </div>
          <div style="color: #09052e;" class="d-flex flex-column align-items-center py-3">
            <h5>•Gas solutions for:</h5>
            <p>bakeries</p>
            <p>restaurants</p>
            <p>catering companies</p>
            <p>commercial kitchens.</p>
          </div>
       
        </div>
      </div>
<!--<div class="col-lg-4 mb-4">
  <div style="
    background: rgba( 80, 75, 75, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    
  " class="bg-light text-center mb-2 pt-4">
    <div
      class="d-inline-flex flex-column align-items-center justify-content-center bg-secondary rounded-circle shadow mt-2 mb-4"
      style="width: 200px; height: 200px; border: 15px solid #09052e">
      <h3 class="text-#09052e">Industrial</h3>

    </div>
    <div style="color: #09052e;" class="d-flex flex-column align-items-center py-3">

      <h5>•LPG gas solutions for various industries.</h5>
     
    </div>
  </div>
</!--<div> -->
<div class="col-lg-4 mb-4">
        <div
        style="
    background:white;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    
  "
        class="bg-light text-center mb-2 pt-4">
          <div
            class="d-inline-flex flex-column align-items-center justify-content-center bg-secondary rounded-circle shadow mt-2 mb-4"
            style="width: 200px; height: 200px; border: 15px solid #09052e"
          >
            <h3 class="text-#09052e">Domestic</h3>
            
          </div>
          <div style="color: #09052e;" class="d-flex flex-column align-items-center py-3">

            <h5>•Connections to natural gas for:</h5>
            <p>gas hobs</p>
            <p>gas ovens</p>
            <p>gas braais</p>
            <p>gas fireplaces</p>
            <p>gas water heaters</p>
            <p>gas space heaters</p>
            <p>freestanding gas cookers.</p> 
          </div>
        </div>
      </div>



      <div class="col-lg-4 mb-4">
        <div
        style="
    background:white;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #09052e;
  "
        class="bg-light text-center mb-2 pt-4">
          <div
            class="d-inline-flex flex-column align-items-center justify-content-center bg-secondary rounded-circle shadow mt-2 mb-4"
            style="width: 200px; height: 200px; border: 15px solid #09052e"
          >
            <h3 class="text-#09052e">Multi-dwelling</h3>
            
          </div>
          <div style="color: #09052e;" class="d-flex flex-column align-items-center py-3">
            <h5>•Gas installations for:</h5>
            <p>flats</p>
            <p>apartments</p>
            <p>housing estates</p>
            <p>residential developments etc.</p>
            <h5>•Central gas hot water heating for:</h5>
            <p>hotels</p>
            <p>apartments</p>
            <p>Gas-powered hot water for blocks of flats etc.</p>
            <h5>•Industrial</h5>
            <p>LPG gas solutions for various industries.</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Pricing Plan End -->



<!-- About Start -->
<div style="
      background:white;
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      color: #09052e;
    " class="container-fluid py-5">
  <div class="container pt-0 pt-lg-4">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <img class="img-fluid" src="/assets/images/light.jpeg" alt="" />
      </div>
      <div class="glass" class="col-lg-7 mt-5 mt-lg-0 pl-lg-5">
        <h2 class="text-#ff5e14 text-uppercase font-weight-medium mb-3">
          OUR UNIQUE SERVICE OFFERING
        </h2>
       <!-- <h1 class="mb-4">We Are Quality Gas Provider In Your City</h1>
        <h3 class="font-weight-medium  mb-4">
          Clita sit et ipsum sed. Volup duo sea dolor rebum ea rebum kasd stet.
          Dolor at duo dolor sit stet.
        </h3> -->
        <p class="text-secondary mb-2" style="color: #09052e; text-align:justify;">
        <strong style="color: #ff5e14;">1.</strong>   We are a distributor of Wasaa LP Gas cylinders, valves, lab gas tapes, as well as LP gas
          electric.
        </p>

        <p class="text-secondary mb-2" style="color: #09052e; text-align:justify;">
        <strong style="color: #ff5e14;">2.</strong>   We design and install LP Gas retail shops and also assist in LP Gas appliance repairs or
          recommendations.
        </p>

        <p class="text-secondary mb-2" style="color: #09052e; text-align:justify;">
        <strong style="color: #ff5e14;">3.</strong>  Our 24/7 service means that we are ready to serve you at any time. Contact us now for
          assistance
        </p>

        <p class="text-secondary mb-2" style="color: #09052e; text-align:justify;">
         <strong style="color: #ff5e14;">4.</strong>  We provide Maintenance support for all gas products. We do door to door deliveries
        </p>

        <p class="text-secondary mb-2" style="color: #09052e; text-align:justify;">
        <strong style="color: #ff5e14;">5.</strong>   We an esteemed distributer of Wasaa 3kg, 5kg, 9kg, 14kg, 19kg & 48kg Liquefied
          Petroleum Gas cylinders on a full for empty exchange system same-day delivery to
          your door.
        </p>

        


        
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Screenshot Section -->

<section 
style="
      background:white;
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      color: #09052e;
    "
id="screenshot">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-2 col-md-8 col-sm-12">
                    <div class="section-title">
                      
                         <h1 class=" text mt-5" >Download Mobile app</h1>
                         <p class="wow fadeInUp" data-wow-delay="0.8s">Download our Android or iOS App. Make orders and view your past orders on our mobile app.</p>
                           <a href="https://play.google.com/store/apps" class="btn btn-primary py-md-3 px-md-5 mr-5 mt-2" style="border-radius: 30px; color:white; background:#ff5e14;">Download Android app</a>
                           <a href="https://play.google.com/store/apps" class="btn btn-primary py-md-3 px-md-5 mt-2" style="border-radius: 30px; color:white; background:#ff5e14;">Download iOS app</a>
                    </div>
               </div>

               <!-- Screenshot Owl Carousel -->
                <!-- Carousel Starts -->
                
                <img src="assets/images/s3.jpg" alt="first slide"
                  style="display: contain;height:550px; width: 250px; margin-left:20px; box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); border-radius: 10px; " />
                
                <!-- Carousel End -->

          </div>
     </div>
</section>






<section>
  <div 
style="
    background:white;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #09052e;
    
  " class="container-fluid pt-5 pb-3">
  
<div class="content">
<h2>FAQs</h2> 
<!-- __________________________ SECTIONS ___________________________ --> 

<h3>GOT A QUESTION? WE'RE HERE TO HELP</h3>

<div>
  <input type="checkbox" id="question11" name="q"  class="questions"> 
  <div style="color: #ff5e14;" class="plus">+</div>
  <label for="question11" class="question">
   How do I purchase Gas online?
  </label>
  <div class="answers">
    <p >To purchase gas/gas cylinders online, you must have an online account. For existing account customers, you can login to your account and countinue shopping. If you are a new customer you will need to set up an online account.
    </p>
    
  </div>
</div>
<!-- _____________________________________________________ --> 
<div>
  <input type="checkbox" id="question12" name="q" class="questions">
  <div style="color: #ff5e14;" class="plus">+</div>
  <label for="question12" class="question">
How do I open an account with Swift Gas?
  </label>
  <div class="answers">
    <p >If you wish to purchase gas, please add the gas cylinders to your cart and then continue to checkout.
</p>
    <p >
      
      If you dont have an acount there are two ways to go to register page, buy clicking the user plus icon to the top right of your screen or from the checkout page since you cant proceed before loging in.</p>
    

  </div>
</div>
 <!-- _____________________________________________________ -->  
<div>
  <input type="checkbox" id="question13" name="q" class="questions">
  <div style="color: #ff5e14;" class="plus">+</div>
  <label for="question13" class="question">
What should I do if my order is damaged when it arrives?
  </label>
  <div class="answers">
    <p >The easiest way to take care of an order that is damaged is to refuse delivery if possible.</p>
    
  </div>
</div>
<!-- _____________________________________________________ -->  
<div>
  <input type="checkbox" id="question14" name="q" class="questions">
  <div style="color: #ff5e14;" class="plus">+</div>
  <label for="question14" class="question">
Can I buy in-store?
  </label>
  <div class="answers">
    <p >Yes, you can. You can visit our provided address.</p>
    
  </div>
</div>
<!-- _____________________________________________________ -->  

<!-- _____________________________________________________ -->  
<div>
  <input type="checkbox" id="question15" name="q" class="questions">
  <div style="color: #ff5e14;" class="plus">+</div>
  <label for="question15" class="question">
Can I order over the phone?
  </label>
  <div class="answers">
    <p >To place an order over the phone, contact our customer services team on 011 ######.</p>
    
  </div>
</div>
<!-- _____________________________________________________ --> 

<!-- _____________________________________________________ -->
<div>
  <input type="checkbox" id="question16" name="q" class="questions">
  <div style="color: #ff5e14;" class="plus">+</div>
  <label for="question16" class="question">
    Does Swift Gas offer Free delivery?
  </label>
  <div class="answers">
    <p >Swift Gas offers free delivery .</p>

  </div>
</div>
<!-- _____________________________________________________ -->









<!-- __________________________ SECTIONS ___________________________ -->

<h3>DELIVERY &amp; SHIPPING</h3>

<div>
  <input type="checkbox" id="question17" name="q" class="questions">
  <div style="color: #ff5e14;" class="plus">+</div>
  <label for="question17" class="question">
    What happens if the items are out of stock?
  </label>
  <div class="answers">
    <p >You will be notified immediately if the item you ordered is out of stock. You can then opt to wait for the item to be
    available, or we will offer you with an alternative item, or cancel the order. </p>

  </div>
</div>
<!-- _____________________________________________________ -->
<div>
  <input type="checkbox" id="question18" name="q" class="questions">
  <div style="color: #ff5e14;" class="plus">+</div>
  <label for="question18" class="question">
    What if I am not around when delivery takes place?
  </label>
  <div class="answers">
    <p >The delivery driver will telephone you and they will allocate a 15 minute waiting period. If contact cannot be made,
    they will leave a note saying that delivery was attempted and you will be able to arrange delivery for a different day.
    (Please note that failed delivery charges may apply)</p>
    
  </div>
</div>
<!-- _____________________________________________________ -->
 
<!-- __________________________ SECTIONS ___________________________ -->

<h3>SECURITY &amp; PAYMENT</h3>

<div>
  <input type="checkbox" id="question19" name="q" class="questions">
  <div style="color: #ff5e14;" class="plus">+</div>
  <label for="question19" class="question">
    Is it safe to shop online with you?
  </label>
  <div class="answers">
    <p>Yes. We guarantee that our website is secured and certified. Your payment is processed securely by Payfast, which is one
    of the leading payment gateways in South Africa.</p>
    
  </div>
</div>





<!-- __________________________ SECTIONS ___________________________ -->

</div>


</div>
</section>