
<div
  style="
   background:white;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #09052e;
  "
  class="container-fluid py-5"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-7 m-0 my-lg-5 pt-0 pt-lg-5 pr-lg-5">
        <h2 style="color: #ff5e14;" class="text-#ff5e14 text-uppercase font-weight-medium mb-3">
          Payment process Notice!!!
        </h2>
        
        <p style="color: #09052e; text-align:justify;">
          We still don't support online payment so click on "go to payment" and your order will be made.
          Come back to the website after the payfast link opens and navigate to the orders page where you will see the order you just made.
          Payment will be done in cash.
        </p>
      </div>
    </div>
  </div>
</div>
<section style="margin-top:20px" class="blur">
<div class="mt-4">
    <app-basket-summary
        [isBasket]=false
        [items]="(basket$ | async) ? (basket$ | async).items:[]"
    >
    </app-basket-summary>
</div>

<div class="float-none d-flex justify-content-between flex-column flex-lg-row  mt-2 mb-5">
    <button class="btn btn-outline-primary" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i> Back to Delivery
    </button>
    <button class="btn btn-primary" (click)="createPaymentIntent()" >
        Go to Payment <i class="fa fa-angle-right"></i>
    </button>
</div>

</section>

