<!-- Toolbar -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
  rel="stylesheet"
/>

<div class="toolbar" role="banner">
  <img width="80" alt="logo" [routerLink]="['/']" class="logo" src="/assets/images/SG.png" />

  <!--<div class="active "><a style="font-size: 20px; text-decoration: none;
  color:grey;" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Home</a>
  </!--<div> -->
  <div class="name"><a style="font-size: 20px;text-decoration: none;
  color: #09052e;"  routerLink="/home" routerLinkActive="active">Home</a>
  <a *ngIf="(isAdmin$ | async)"  style="font-size: 20px;text-decoration: none;
  color: #09052e;" class="p-2 " routerLink="/admin" routerLinkActive="active">Admin</a>

  </div>

  <div class="spacer"></div>
<!-- <div class="wrapper" *ngIf="!(isAdmin$ | async)"><a  style="font-size: 20px;text-decoration: none;
  color: #09052e;" class="p-2 " routerLink="/basket" > <i class="fa fa-shopping-basket"
        aria-hidden="true"></i> <span *ngIf="(basket$ | async)" style="font-size: 15px;text-decoration: none;
  color: red;">{{(basket$ | async).items.length}}</span></a></div> --> 

<ng-container *ngIf="(currentUser$ | async) === null" >

  <a style="font-size: 20px;text-decoration: none;
  color: #ff5e14;" class="p-2 " routerLink="/account/login"> <i class="fas fa-sign-in-alt"></i></a>

  
  <a style="font-size: 20px;text-decoration: none;
  color: #ff5e14;" class="p-2 " routerLink="/account/register" > <i class="fas fa-user-plus"></i></a>


</ng-container>

<ng-container *ngIf="currentUser$ | async">
  <div class="dropdown ml-3 mr-4" dropdown>
    <a class="dropdown-toggle" style="cursor: pointer; color: #ff5e14;" dropdownToggle>
      <strong> <i class="fa fa-2x fa-user" aria-hidden="true"></i></strong>
    </a>
    <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu>

    <strong class="dropdown-item d-flex align-items-center py-2" style="color: white;background: rgba( 80, 75, 75, 0.25 );">Hi! {{(currentUser$ | async).displayName}}</strong>
      <a *ngIf="!(isAdmin$ | async)" style="cursor: pointer; color: white;background: rgba( 80, 75, 75, 0.25 );" routerLink="/basket" class="dropdown-item d-flex align-items-center py-2">
        <i class="fa fa-shopping-cart mr-3"></i> View Basket
      </a> <!---->
      <a style="cursor: pointer; color: white; background: rgba( 80, 75, 75, 0.25 );" routerLink="/orders" class="dropdown-item d-flex align-items-center py-2">
        <i class="fa fa-history mr-3"></i> View Orders
      </a>
      <div class="dropdown-divider"></div>
      <a  style="cursor: pointer; color: white; background: rgba( 80, 75, 75, 0.25 );" (click)="logout()" class="dropdown-item d-flex align-items-center py-2">
        Logout
      </a>
    </div>
  </div>

</ng-container>

</div>



